<h1>Dwolla Ecwid - Dashboard</h1>
<hr />
<div class="row">
	<div class="col-sm-6">
		<h2>Merchant Information</h2>
		<p>Welcome</p> 
		<p>Dwolla Id: <%=dId %></p>
		<p>MD5 Hash Value: <%=name %></p>
	</div>

</div>


