<h1>Dwolla Ecwid - Dashboard</h1>
<hr />
<div class="row">
	<div class="col-sm-6">
		<h2>Merchant Information</h2>
		<h4>Welcome - <%=name %></h4> 
		<p>API Login Id: <%=dId %></p>
		<p>Transaction Key: Dwolla</p>
		<p>MD5 Hash Value: <%=md5Val %></p>
		<p>Transaction Type: Authorize and Capture</p>
		<h5>Advanced Settings</h5>
		<p>Endpoint URL: http://dwolla-ecwid.herokuapp.com/newCheckout</p>
	</div>
	<div class="col-sm-9 instructions">
	<h2>Guide: Setting up Dwolla in your Ecwid Store</h2>	
		<p>1. Navigate to System Settings and select the Payment page.</p>
		<img src="https://dl.dropbox.com/s/zcqojuawgjj1fbt/Screenshot%202014-10-23%2009.15.44.png?dl=0" class="img-responsive"><br />
		<p>2. Under Payment Methods: Rename one of the methods you are not using to "Dwolla" and click Apply.</p><br />
		<p>3. Under payment processor column: Click change and select Credit Card: Authorize.Net SIM and click Apply.</p>
		<img src="https://dl.dropbox.com/s/krldojl2pqot62d/Screenshot%202014-10-23%2009.25.01.png?dl=0" class="img-responsive"><br />
		<p>4. Under payment processor column: Click Account Details. A pop-up window will appear to enter your merchant information.</p><br />
		<p>5. Using the information in the "Merchant Information" section above, fill in every field with the necessary information and click save.</p>
		<img src="https://dl.dropbox.com/s/4jboyt2lwlpioe0/Screenshot%202014-10-23%2009.13.45.png?dl=0" class="img-responsive"><br />
		<p>6. Verify that the payment method is set to Enabled.</p>
		<img src="https://dl.dropbox.com/s/bksihpbfqmb9wp5/Screenshot%202014-10-23%2016.34.20.png?dl=0" class="img-responsive"><br />
	<h4>Create a CSS Rule to remove the credit card images from the payment selection screen</h4>
		<p>1. Navigate to the Design page: In your current theme, or in a new theme create a css rule to remove the credit card images</p>
		<img src="https://dl.dropbox.com/s/32ga4y7q0nqc33n/Screenshot%202014-10-23%2016.41.14.png?dl=0" class="img-responsive"><br />
		<img src="https://dl.dropbox.com/s/whv5ooc3frmul29/Screenshot%202014-10-23%2016.39.28.png?dl=0" class="img-responsive"><br />
		<h3>You're Done!!</h3>
	</div>		
</div>