<div class="row">
<h1 class="text-center">Dwolla Ecwid</h1>
<p class="lead text-center"> A bridge between Dwolla and Ecwid</p>
<hr />
</div>	

<div class="row">
<div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading text-center">
     <div class="panel-body">
      <h2>Merchant Login</h2>
		<a href="/auth/dwolla" class="btn btn-primary">Sign in with Dwolla</a>
      </div>
      
      </div>
     </div>
  </div>
		
</div>


